.sortable li {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  color: #1C94C4;
  margin: 5px;
  padding: 5px;
  height: 25px;
  width: 100px; }

h2 {
  font-size: 18px;
  line-height: 15px; }

.factor-list {
  width: 200px; }

.factor-list ul.factors {
  border-top: solid 1px black;
  margin-top: 9px; }
